@page "/"


<MudText Align="Align.Center" Typo="Typo.h3" GutterBottom="true">Welcome to Cosmos Odyssey!</MudText>
<MudText Align="Align.Center" Class="mb-8">
    We offer the best deals for our customers in our solar system.
</MudText>

<div class="wrapper"><MudButton Class="mb-8" Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary" Link="/buy">Look prices</MudButton></div>

<MudText Align="Align.Center" Typo="Typo.h6" Class="mb-2">Possible travel routes in our solar system</MudText>
<div class="wrapper"><img src="/images/routes.png" asp-append-version="true" alt="Routes" class="responsive" /></div>
